.admin-users {
	 border: 2px solid #dddddd;
}

.admin-users tr {
	background-color: #fafafa;
}

.admin-users td {
	vertical-align: middle !important;
}

.admin-users .form-group {
	background-color: white; 
	border-radius: 3%;
	margin-bottom: 0px;
}

.admin-users select {
	text-align-last: center;
}

.admin-users .text-align-last-right {
	text-align-last: right !important;
}

.admin-users .delete {
	vertical-align: middle;
}

.admin-users .delete .material-icons {
	vertical-align: middle;
}

.background {
  min-height: 400px;
  background: linear-gradient(180deg, rgba(0, 50, 98, 1), rgba(0, 50, 98, .5)), url("img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: -25px;
}


.committee-member-label {
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
}

.committee-member-label .material-icons {
  vertical-align: middle; 
  font-size: 18px; 
  color: #ffffff;
  cursor: pointer;
}

.committee-member-label .material-icons:focus, 
.committee-member-label .material-icons:hover{
  color: #e6e6e6;
}

.committee-member-label-sub {
  margin-right: 2px;
  margin-left: 2px;
}

.list-group-item:hover {
  cursor: pointer;
}

.logo {
  margin-top: -18px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.nav-dots {
  color: white;
  position: absolute;
  right: 0px;
  top: 6px;
}

.responsiveCal {
  position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
 
.responsiveCal iframe {
  position: absolute; top:0; left: 0; width: 100%; height: 100%; 
}

.straddle {
  margin-top: -150px;
}

.well {
  margin-bottom: 0px;
}
/* BEGIN berkeley 
  Standard: #003262;
  DarkL #001a33;
*/
.select-berkeley:focus,
.select-berkeley.form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #003262;
  box-shadow: inset 0 -2px 0 #003262;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #003262;
  box-shadow: inset 0 -2px 0 #003262;
}

.navbar-berkeley {
  background-color: #003262;
  border-color: transparent;
}
.navbar-berkeley .navbar-brand {
  color: #ffffff;
}
.navbar-berkeley .navbar-brand:hover,
.navbar-berkeley .navbar-brand:focus {
  color: #FDB515;
  background-color: transparent;
}
.navbar-berkeley .navbar-text {
  color: #bbbbbb;
}
.navbar-berkeley .navbar-nav > li > a {
  color: #ffffff;
  font-size: 18px;
}
.navbar-berkeley .navbar-nav > li > a:hover,
.navbar-berkeley .navbar-nav > li > a:focus {
  color: #FDB515;
  background-color: transparent;
}
.navbar-berkeley .navbar-nav > .active > a,
.navbar-berkeley .navbar-nav > .active > a:hover,
.navbar-berkeley .navbar-nav > .active > a:focus {
  color: #FDB515;
}
.navbar-berkeley .navbar-nav > .disabled > a,
.navbar-berkeley .navbar-nav > .disabled > a:hover,
.navbar-berkeley .navbar-nav > .disabled > a:focus {
  color: #dfdce3;
  background-color: transparent;
}
.navbar-berkeley .navbar-toggle {
  border-color: transparent;
}
.navbar-berkeley .navbar-toggle:hover,
.navbar-berkeley .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-berkeley .navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-berkeley .navbar-collapse,
.navbar-berkeley .navbar-form {
  border-color: transparent;
}
.navbar-berkeley .navbar-nav > .open > a,
.navbar-berkeley .navbar-nav > .open > a:hover,
.navbar-berkeley .navbar-nav > .open > a:focus {
  color: #f8c154;
}
@media (max-width: 767px) {
  .navbar-berkeley .navbar-nav .open .dropdown-menu > li > a {
    color: #666666;
  }
  .navbar-berkeley .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-berkeley .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FDB515;
    background-color: transparent;
  }
  .navbar-berkeley .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-berkeley .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-berkeley .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FDB515;
  }
  .navbar-berkeley .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-berkeley .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-berkeley .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #dfdce3;
    background-color: transparent;
  }
}
.navbar-berkeley .navbar-link {
  color: #666666;
}
.navbar-berkeley .navbar-link:hover {
  color: #212121;
}
.navbar-berkeley .btn-link {
  color: #666666;
}
.navbar-berkeley .btn-link:hover,
.navbar-berkeley .btn-link:focus {
  color: #212121;
}
.navbar-berkeley .btn-link[disabled]:hover,
fieldset[disabled] .navbar-berkeley .btn-link:hover,
.navbar-berkeley .btn-link[disabled]:focus,
fieldset[disabled] .navbar-berkeley .btn-link:focus {
  color: #cccccc;
}


.panel-berkeley {
  border-color: #003262;
}
.panel-berkeley > .panel-heading {
  color: #ffffff;
  background-color: #003262;
  border-color: #003262;
}
.panel-berkeley > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #003262;
}
.panel-berkeley > .panel-heading .badge {
  color: #003262;
  background-color: #ffffff;
}
.panel-berkeley > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #003262;
}



.btn-berkeley {
  color: #ffffff;
  background-color: #003262;
  border-color: transparent;
}

.btn-berkeley:focus,
.btn-berkeley.focus {
  color: #ffffff;
  background-color: #001a33;
  border-color: rgba(0, 0, 0, 0);
}
.btn-berkeley:hover {
  color: #ffffff;
  background-color: #001a33;
  border-color: rgba(0, 0, 0, 0);
}
.btn-berkeley:active,
.btn-berkeley.active,
.open > .dropdown-toggle.btn-berkeley {
  color: #ffffff;
  background-color: #001a33;
  border-color: rgba(0, 0, 0, 0);
}
.btn-berkeley:active:hover,
.btn-berkeley.active:hover,
.open > .dropdown-toggle.btn-berkeley:hover,
.btn-berkeley:active:focus,
.btn-berkeley.active:focus,
.open > .dropdown-toggle.btn-berkeley:focus,
.btn-berkeley:active.focus,
.btn-berkeley.active.focus,
.open > .dropdown-toggle.btn-berkeley.focus {
  color: #ffffff;
  background-color: #0a68b4;
  border-color: rgba(0, 0, 0, 0);
}
.btn-berkeley:active,
.btn-berkeley.active,
.open > .dropdown-toggle.btn-berkeley {
  background-image: none;
}
.btn-berkeley.disabled:hover,
.btn-berkeley[disabled]:hover,
fieldset[disabled] .btn-berkeley:hover,
.btn-berkeley.disabled:focus,
.btn-berkeley[disabled]:focus,
fieldset[disabled] .btn-berkeley:focus,
.btn-berkeley.disabled.focus,
.btn-berkeley[disabled].focus,
fieldset[disabled] .btn-berkeley.focus {
  background-color: #003262;
  border-color: transparent;
}
.btn-berkeley .badge {
  color: #003262; 
  background-color: #ffffff;
}

.btn-berkeley {
  position: relative;
}

.btn-berkeley:focus {
  background-color: #001a33;
}
.btn-berkeley:hover,
.btn-berkeley:active:hover {
  background-color: #001a33;
}
.btn-berkeley:active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-berkeley:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-image: -o-radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
  background-position: 50%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.btn-berkeley:active:after {
  -webkit-background-size: 0% 0%;
          background-size: 0% 0%;
  opacity: .2;
  -webkit-transition: 0s;
       -o-transition: 0s;
          transition: 0s;
}
/* END berkeley */



/* BEGIN GOLDEN 
Standard: #ED4E33;
Dark: #eb3514;
*/
.btn-golden {
  color: #ffffff;
  background-color: #ED4E33;
  border-color: transparent;
}

.btn-golden:focus,
.btn-golden.focus {
  color: #ffffff;
  background-color: #eb3514;
  border-color: rgba(0, 0, 0, 0);
}
.btn-golden:hover {
  color: #ffffff;
  background-color: #eb3514;
  border-color: rgba(0, 0, 0, 0);
}
.btn-golden:active,
.btn-golden.active,
.open > .dropdown-toggle.btn-golden {
  color: #ffffff;
  background-color: #eb3514;
  border-color: rgba(0, 0, 0, 0);
}
.btn-golden:active:hover,
.btn-golden.active:hover,
.open > .dropdown-toggle.btn-golden:hover,
.btn-golden:active:focus,
.btn-golden.active:focus,
.open > .dropdown-toggle.btn-golden:focus,
.btn-golden:active.focus,
.btn-golden.active.focus,
.open > .dropdown-toggle.btn-golden.focus {
  color: #ffffff;
  background-color: #0a68b4;
  border-color: rgba(0, 0, 0, 0);
}
.btn-golden:active,
.btn-golden.active,
.open > .dropdown-toggle.btn-golden {
  background-image: none;
}
.btn-golden.disabled:hover,
.btn-golden[disabled]:hover,
fieldset[disabled] .btn-golden:hover,
.btn-golden.disabled:focus,
.btn-golden[disabled]:focus,
fieldset[disabled] .btn-golden:focus,
.btn-golden.disabled.focus,
.btn-golden[disabled].focus,
fieldset[disabled] .btn-golden.focus {
  background-color: #ED4E33;
  border-color: transparent;
}
.btn-golden .badge {
  color: #ED4E33; 
  background-color: #ffffff;
}

.btn-golden {
  position: relative;
}

.btn-golden:focus {
  background-color: #eb3514;
}
.btn-golden:hover,
.btn-golden:active:hover {
  background-color: #eb3514;
}
.btn-golden:active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-golden:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-image: -o-radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
  background-position: 50%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.btn-golden:active:after {
  -webkit-background-size: 0% 0%;
          background-size: 0% 0%;
  opacity: .2;
  -webkit-transition: 0s;
       -o-transition: 0s;
          transition: 0s;
}
/* END golden */



/* BEGIN California 
Standard: #FDB515;
Dark: #e39c02;
*/
.btn-california {
  color: #ffffff;
  background-color: #FDB515;
  border-color: transparent;
}

.btn-california:focus,
.btn-california.focus {
  color: #ffffff;
  background-color: #e39c02;
  border-color: rgba(0, 0, 0, 0);
}
.btn-california:hover {
  color: #ffffff;
  background-color: #e39c02;
  border-color: rgba(0, 0, 0, 0);
}
.btn-california:active,
.btn-california.active,
.open > .dropdown-toggle.btn-california {
  color: #ffffff;
  background-color: #e39c02;
  border-color: rgba(0, 0, 0, 0);
}
.btn-california:active:hover,
.btn-california.active:hover,
.open > .dropdown-toggle.btn-california:hover,
.btn-california:active:focus,
.btn-california.active:focus,
.open > .dropdown-toggle.btn-california:focus,
.btn-california:active.focus,
.btn-california.active.focus,
.open > .dropdown-toggle.btn-california.focus {
  color: #ffffff;
  background-color: #0a68b4;
  border-color: rgba(0, 0, 0, 0);
}
.btn-california:active,
.btn-california.active,
.open > .dropdown-toggle.btn-california {
  background-image: none;
}
.btn-california.disabled:hover,
.btn-california[disabled]:hover,
fieldset[disabled] .btn-california:hover,
.btn-california.disabled:focus,
.btn-california[disabled]:focus,
fieldset[disabled] .btn-california:focus,
.btn-california.disabled.focus,
.btn-california[disabled].focus,
fieldset[disabled] .btn-california.focus {
  background-color: #FDB515;
  border-color: transparent;
}
.btn-california .badge {
  color: #FDB515; 
  background-color: #ffffff;
}

.btn-california {
  position: relative;
}

.btn-california:focus {
  background-color: #e39c02;
}
.btn-california:hover,
.btn-california:active:hover {
  background-color: #e39c02;
}
.btn-california:active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-california:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-image: -o-radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  -webkit-background-size: 1000% 1000%;
          background-size: 1000% 1000%;
  background-position: 50%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: background .5s, opacity 1s;
       -o-transition: background .5s, opacity 1s;
          transition: background .5s, opacity 1s;
}
.btn-california:active:after {
  -webkit-background-size: 0% 0%;
          background-size: 0% 0%;
  opacity: .2;
  -webkit-transition: 0s;
       -o-transition: 0s;
          transition: 0s;
}


.panel-california {
  border-color: #FDB515;
}
.panel-california > .panel-heading {
  color: #ffffff;
  background-color: #FDB515;
  border-color: #FDB515;
}
.panel-california > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FDB515;
}
.panel-california > .panel-heading .badge {
  color: #FDB515;
  background-color: #ffffff;
}
.panel-california > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FDB515;
}
/* END golden */


