<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
