<div class="container">
	<div class="panel panel-founder">
	  <div class="panel-heading">
	    <h3 class="panel-title">Add a Committee</h3>
	  </div>
	  <div class="panel-body">
	  	<form ng-submit="signup()">
	      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Name" class="form-control" ng-model="user.name" autofocus>
	      </div>
	      <div class="form-group">
		    	<label for="textArea">Description</label>
	        <textarea class="form-control" rows="3" id="textArea"></textarea>
	        <span class="help-block">Put a short description of the committee and it's responsibilities here.</span>
	    	</div>
	    	<div class="form-group">
	    		<button type="submit" class="btn btn-california btn-lg center-block">Create Committee</button>
	    	</div>
	    </form>
		</div>
	</div>

	<div class="panel panel-founder">
	  <div class="panel-heading">
	    <h3 class="panel-title">Manage Committees</h3>
	  </div>
	  <div class="panel-body">
		</div>
	</div>

</div>
